@model  EventScape.ViewModels.BookingDetailsViewModel

@{
    ViewData["Title"] = "BookingDetailsById";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Booked Events </h1>


<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Booking
            </th>
            <th>
                 Event
            </th>
            <th>
               No_Of_Tickets
            </th>
            <th>
               UnitPrice
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.BookingDetailsbyId) {
        <tr itemscope="row"  >
            <td>
                @Html.DisplayFor(modelItem => item.BookingID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Event.EventName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.No_Of_Tickets)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Event.Price)
            </td>
            <td>
               
                <a asp-action="UserBookingHistory" asp-controller="Bookings">Back to list</a> 
               
            </td>
        </tr>
}
    </tbody>
</table>
