@model EventScape.ViewModels.EventsEditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
     var ImagePath = "~/Image/" + (Model.ExistingImagePath?? "noimage.png");
}

<h1>Edit</h1>

<h4>Events</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data"  >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           <input hidden asp-for="Id"/>
           <input hidden asp-for="ExistingImagePath"/>
            <div class="form-group">
                <label asp-for="EventName" class="control-label"></label>
                <input asp-for="EventName" class="form-control" />
                <span asp-validation-for="EventName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShowStartDate" class="control-label"></label>
                <input asp-for="ShowStartDate" class="form-control" />
                <span asp-validation-for="ShowStartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShowEndDate" class="control-label"></label>
                <input asp-for="ShowEndDate" class="form-control" />
                <span asp-validation-for="ShowEndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxCapacity" class="control-label"></label>
                <input asp-for="MaxCapacity" class="form-control" />
                <span asp-validation-for="MaxCapacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
           
           <div class="form-group ">
                <label asp-for="ExistingImagePath" class="col-sm-2 col-form-label"></label>
                   <div class="col-sm-10">
                        <div class="custom-file">
                        <input asp-for="ExistingImagePath"   class="form-control custom-file-input" value="@ImagePath">
                         
                        </div>
                        <span asp-validation-for="ExistingImagePath" class="text-danger"></span>
                 </div>
            </div> 
              <div class="form-group">
                 <input 
                     multiple
                     asp-for=" EventPosters"
                     type="file"
                       accept=".png,.jpg,.jpeg,.gif,.tif"
                       
                       value="@ImagePath"
                       class=" custom-file-input "
                       style="border:0px!important;padding: 0px;padding-top: 10px;padding-bottom: 30px;"
                       onchange="document.getElementById('EventPosters').src = window.URL.createObjectURL(this.files[0])" />
                       <label  class="col-sm-2 col-form-label">Click here to change photo </label>
                <span asp-validation-for="EventPosters" class="text-danger"></span>
            </div>
              <div class="form-group">                
                <img src="@ImagePath" asp-for="EventPosters" class="" asp-append-version="true"/>
                <span asp-validation-for="EventPosters" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
     <script>
            $(document).ready(function () {
                $('.custom-file-input').on("change", function () {
                    var fileName = $(this).val().split("\\").pop();
                    $(this).next('.custom-file-label').html(fileName);
                });
            });
        </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
  
                 