 @model EventScape.ViewModels.ShoppingCartViewModel
<form method="post">
       <div class="container">
          <div class="pt-5 text-center">
        <img class="d-block mx-auto mb-4"  src="" alt="" width="72" height="72" alt="LogoImage">
        <h2>Checkout form</h2>
           <p class="lead">Please fill the following billing address details to conitune to Checkout.</p>
      </div>
         <div class="row p-5 m-5">
        <div class="col-md-4 order-md-2 mb-4">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Your cart</span>
            <span class="badge badge-secondary badge-pill">3</span>
          </h4>
                                
                                    <ul class="list-group mb-3 bg-light">
                                        @foreach(var details in Model.CartItems)
                                        {
                                            <li class="list-group-item d-flex justify-content-between">
                                                <div>
                                                    <h6 class="my-0">@details.Event.EventName</h6>
                                                    <small class="text-muted">Total tickets: @details.Tickets</small>
                                                </div>
                                                <span class="text-muted">@((details.Tickets * details.Event.Price).ToString("c"))</span>
                                            </li>
                                            }
                                        <li class="list-group-item d-flex justify-content-between bg-light">
                                            <strong class="text-primary">Total (USD)</strong>
                                            <strong class="text-primary">@Model.Booking.OrderTotal.ToString("c")</strong>
                                        </li>
                                    </ul>
                                   </div>
        <div class="col-md-8 order-md-1">
          <h4 class="mb-3">Billing address</h4>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="firstName">FirstName</label>               
                <input asp-for="Booking.ApplicationUser.FirstName" type="text" class="form-control" />                                           
                <div class="invalid-feedback">
                 <span asp-validation-for="Booking.Name" class="text-danger"></span>
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="firstName">LastName</label>               
                <input asp-for="Booking.ApplicationUser.LastName" type="text" class="form-control" />                                           
                <div class="invalid-feedback">
                 <span asp-validation-for="Booking.Name" class="text-danger"></span>
                </div>
              </div>
            </div>
            
            <div class="mb-3">
              <label for="address">UserName</label>
               <input asp-for="Booking.Name" type="text" class="form-control" />
              <div class="invalid-feedback">
                 <span asp-validation-for="Booking.Name" class="text-danger"></span>
              </div>
            </div>
           
            <div class="mb-3">
              <label for="address">Email Address</label>
               <input asp-for="Booking.Email" type="text" class="form-control" />
              <div class="invalid-feedback">
                 <span asp-validation-for="Booking.Email" class="text-danger"></span>
              </div>
            </div>
            <div class="mb-3">
              <label for="address">Phone  </label>
               <input asp-for="Booking.PhoneNumber" type="text" class="form-control" />
              <div class="invalid-feedback">
                 <span asp-validation-for="Booking.PhoneNumber" class="text-danger"></span>
              </div>
            </div>            
              <div class="mb-3">
              <label for="address">StreetAddress  </label>
               <input asp-for="Booking.StreetAddress" type="text" class="form-control" />
              <div class="invalid-feedback">
                 <span asp-validation-for="Booking.StreetAddress" class="text-danger"></span>
              </div>
            </div>                             
             <div class="mb-3">
              <label for="address">City  </label>
               <input asp-for="Booking.City" type="text" class="form-control" />
              <div class="invalid-feedback">
                 <span asp-validation-for="Booking.City" class="text-danger"></span>
              </div>
            </div>                                  
              <div class="mb-3">
              <label for="address">State  </label>
               <input asp-for="Booking.State" type="text" class="form-control" />
              <div class="invalid-feedback">
                 <span asp-validation-for="Booking.State" class="text-danger"></span>
              </div>
            </div>                                
                <div class="mb-3">
              <label for="address">PostalCode  </label>
               <input asp-for="Booking.PostalCode" type="text" class="form-control" />
              <div class="invalid-feedback">
                 <span asp-validation-for="Booking.PostalCode" class="text-danger"></span>
              </div>
            </div>  
             <div class="mb-3 row">
                <div class="co-4 "></div>
                <div class="col-4 ">  <button type="submit" value="Place Order" class="btn  btn-primary form-control">Place Order</button></div>
                 <div class="col-4">    <a asp-action= "Index" class="btn btn-primary ">Back to Cart</a>              </div>        
            </div>          
                                </div>
                                </div>
   
        </div>
       @*  <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">© 2022-2023 EventScape Pvt LTd</p>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#">Privacy</a></li>
          <li class="list-inline-item"><a href="#">Terms</a></li>
          <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
      </footer>*@
        </div>
</form>
 